@charset "utf-8";
/* CSS Document */
.jq-calendar-wrapper { padding: 0; margin:-15px; }
.jq-calendar-wrapper table { margin:0; width: 100%; color: #333; font-family: Helvetica, Arial, sans-serif; table; border-spacing: 2px; border-color: gray; border-collapse: collapse; }
.jq-calendar-wrapper .ui-listview { margin: 0 0 1px 0; }
.jq-calendar-wrapper th { padding: .3em 0; width: 14.28571428571429%; } 
.jq-calendar-wrapper th.header { padding: .5em 0; line-height: 25px; }
.jq-calendar-wrapper .previous-btn { float: left; margin: 0 .5em; }
.jq-calendar-wrapper .next-btn { float: right; margin: 0 .5em; }
.jq-calendar-wrapper td { position: relative; text-align:center; width: 14.28571428571429%; }
.jq-calendar-wrapper td.hidden, .jq-calendar-wrapper span.hidden { opacity: 0.3; }
.jq-calendar-wrapper td a { padding: .5em 0; margin:-1px; border:0; }
.jq-calendar-wrapper td span { position: absolute; top: 20px; left: 0; width: 100%; text-align: center; }
